{% load staticfiles %}

<nav class="navbar navbar-dark bg-inverse navbar-full">

  <a class="navbar-brand" href="{% url 'main' %}">
    <img src="{% static 'img/trymachinelearning.png' %}" width="30" height="30" class="d-inline-block align-top" alt="trymachinelearning">
    ChatterBot
  </a>

  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="https://en.wikipedia.org/wiki/Chatbot">Documentation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://www.trymachinelearning.com">Learn Machine Learning</a>
    </li>
  </ul>
</nav>
